<?php
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{#isNot this 'enum'}}
{{^parentSchema}}

use \ArrayAccess;
{{/parentSchema}}
{{/isNot}}
use {{backSlash}}{{invokerPackage}}\ObjectSerializer;

/**
 * {{classname}} Class
 *
 * (c) Silversteet <info@silverstreet.com>
 *
 * @category Class
{{#description}}
 * @description {{description}}
{{/description}}
 * @package  {{invokerPackage}}
 * @author   Silverstreet R&D team
 * @link     https://github.com/silverstreet
 */
{{#is this 'enum'}}{{>model_enum}}{{/is}}{{#isNot this 'enum'}}{{>model_generic}}{{/isNot}}
{{/model}}{{/models}}
